[{:signature "REDIS", :version "0011"}
 [{:type :aux,
   :kind :RDB_OPCODE_AUX,
   :k {:type :string, :kind 0, :special nil, :size 9, :data [114 101 100 105 115 45 118 101 114]},
   :v {:type :string, :kind 0, :special nil, :size 5, :data [55 46 50 46 54]}}
  {:type :aux,
   :kind :RDB_OPCODE_AUX,
   :k {:type :string, :kind 0, :special nil, :size 10, :data [114 101 100 105 115 45 98 105 116 115]},
   :v {:type :int-string, :kind 3, :special 0, :data [64]}}
  {:type :aux,
   :kind :RDB_OPCODE_AUX,
   :k {:type :string, :kind 0, :special nil, :size 5, :data [99 116 105 109 101]},
   :v {:type :int-string, :kind 3, :special 2, :data [1732739669]}}
  {:type :aux,
   :kind :RDB_OPCODE_AUX,
   :k {:type :string, :kind 0, :special nil, :size 8, :data [117 115 101 100 45 109 101 109]},
   :v {:type :int-string, :kind 3, :special 2, :data [1520096]}}
  {:type :aux,
   :kind :RDB_OPCODE_AUX,
   :k {:type :string, :kind 0, :special nil, :size 8, :data [97 111 102 45 98 97 115 101]},
   :v {:type :int-string, :kind 3, :special 0, :data [0]}}
  {:type :selectdb, :kind :RDB_OPCODE_SELECTDB, :db-number {:kind 0, :size 0}}
  {:type :resizdb-info,
   :kind :RDB_OPCODE_RESIZEDB,
   :db-hash-table-size {:kind 0, :size 15},
   :expiry-hash-table-size {:kind 0, :size 0}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 12, :data [98 105 107 101 58 49 58 115 116 97 116 115]},
   :v {:type :string, :kind 0, :special nil, :size 8, :data [0 0 3 -74 0 0 0 1]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 8, :data [105 110 116 118 97 108 117 101]},
   :v {:type :string, :kind 0, :special nil, :size 13, :data [50 44 49 52 55 44 52 56 51 44 54 52 55]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_ZSET_LISTPACK,
   :k {:type :string, :kind 0, :special nil, :size 14, :data [98 105 107 101 115 58 114 101 110 116 97 98 108 101]},
   :v
   {:type :lzh-string,
    :kind 0,
    :size 54,
    :special nil,
    :uncompressed-length {:kind 1, :size 70},
    :data
    [26
     70
     0
     0
     0
     6
     0
     -119
     115
     116
     97
     116
     105
     111
     110
     58
     49
     10
     -12
     32
     -65
     17
     75
     37
     -36
     4
     0
     9
     -32
     0
     20
     5
     50
     10
     -12
     -10
     -128
     63
     -32
     6
     20
     6
     51
     10
     -12
     109
     63
     121
     97
     64
     ...]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_HASH_LISTPACK,
   :k {:type :string, :kind 0, :special nil, :size 11, :data [55 49 56 58 98 111 120 115 116 101 114]},
   :v
   {:type :string,
    :kind 1,
    :special nil,
    :size 75,
    :data
    [75
     0
     0
     0
     10
     0
     -123
     98
     114
     97
     110
     100
     6
     -121
     80
     111
     114
     115
     99
     104
     101
     8
     -124
     116
     114
     105
     109
     5
     -125
     71
     84
     83
     4
     -124
     121
     101
     97
     114
     5
     -57
     -29
     2
     -122
     101
     110
     103
     105
     110
     101
     7
     ...]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STREAM_LISTPACKS_3,
   :k {:type :string, :kind 0, :special nil, :size 11, :data [114 97 99 101 58 102 114 97 110 99 101]},
   :v
   {:first-stream-len {:kind 0, :size 0},
    :unknown 50331648,
    :content
    {:data
     [31
      -119
      0
      0
      0
      32
      0
      3
      1
      0
      1
      4
      1
      -123
      114
      105
      100
      101
      114
      6
      -123
      115
      112
      101
      101
      100
      6
      -120
      112
      111
      115
      105
      116
      8
      105
      111
      110
      9
      -117
      108
      111
      99
      97
      64
      9
      6
      95
      105
      100
      12
      ...],
     :kind 1,
     :size 132,
     :special nil,
     :type :lzh-string,
     :uncompressed-length {:kind 1, :size 137}},
    :flag -127,
    :type :RDB_TYPE_STREAM_LISTPACKS_3,
    :current-elements {:kind 0, :size 3},
    :stream-id {:ms 1732739436148N, :seq 0N},
    :first-id 1732739436148N,
    :padding 0,
    :metadata 4097,
    :last-id 1732739449600N}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 6, :data [98 105 107 101 58 50]},
   :v {:type :string, :kind 0, :special nil, :size 4, :data [65 114 101 115]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 13, :data [116 111 116 97 108 95 99 114 97 115 104 101 115]},
   :v {:type :int-string, :kind 3, :special 0, :data [0]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 6, :data [98 105 107 101 58 49]},
   :v {:type :string, :kind 0, :special nil, :size 6, :data [68 101 105 109 111 115]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_ZSET_LISTPACK,
   :k {:type :string, :kind 0, :special nil, :size 12, :data [114 97 99 101 114 95 115 99 111 114 101 115]},
   :v
   {:type :string,
    :kind 1,
    :special nil,
    :size 71,
    :data
    [71
     0
     0
     0
     12
     0
     -124
     70
     111
     114
     100
     5
     6
     1
     -118
     83
     97
     109
     45
     66
     111
     100
     100
     101
     110
     11
     8
     1
     -123
     78
     111
     114
     101
     109
     6
     10
     1
     -123
     82
     111
     121
     99
     101
     6
     10
     1
     -120
     67
     97
     115
     ...]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 13, :data [105 110 116 101 103 101 114 115 116 114 105 110 103]},
   :v {:type :int-string, :kind 3, :special 1, :data [1000]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_SET,
   :k {:type :string, :kind 0, :special nil, :size 14, :data [99 97 114 115 58 115 112 111 114 116 115 99 97 114]},
   :v
   {:kind 0,
    :type :set,
    :items
    [{:type :string,
      :kind 1,
      :special nil,
      :size 71,
      :data
      [123
       58
       99
       111
       117
       110
       116
       114
       121
       32
       58
       103
       101
       114
       109
       97
       110
       121
       32
       58
       109
       97
       110
       117
       102
       97
       99
       116
       117
       114
       101
       114
       32
       58
       112
       111
       114
       115
       99
       104
       101
       32
       58
       109
       111
       100
       101
       108
       32
       58
       ...]}
     {:type :string,
      :kind 1,
      :special nil,
      :size 70,
      :data
      [123
       58
       99
       111
       117
       110
       116
       114
       121
       32
       58
       103
       101
       114
       109
       97
       110
       121
       32
       58
       109
       97
       110
       117
       102
       97
       99
       116
       117
       114
       101
       114
       32
       58
       112
       111
       114
       115
       99
       104
       101
       32
       58
       109
       111
       100
       101
       108
       32
       58
       ...]}]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k
   {:type :string,
    :kind 0,
    :special nil,
    :size 22,
    :data [112 105 110 103 115 58 50 48 50 52 45 48 49 45 48 49 45 48 48 58 48 48]},
   :v {:type :string, :kind 0, :special nil, :size 16, :data [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 16]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_LIST_QUICKLIST_2,
   :k {:type :string, :kind 0, :special nil, :size 13, :data [98 105 107 101 115 58 114 101 112 97 105 114 115]},
   :v
   {:type :RDB_TYPE_LIST_QUICKLIST_2,
    :unknown 72645931543035906N,
    :content [0 -122 98 105 107 101 58 50 7 -122 98 105 107 101 58 49 7]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 11, :data [100 111 117 98 108 101 118 97 108 117 101]},
   :v {:type :string, :kind 0, :special nil, :size 17, :data [49 48 46 53 51 52 53 49 52 51 57 53 56 54 49 57 48]}}
  {:type :key-value,
   :expiry {},
   :kind :RDB_TYPE_STRING,
   :k {:type :string, :kind 0, :special nil, :size 6, :data [98 105 107 101 58 51]},
   :v {:type :string, :kind 0, :special nil, :size 5, :data [86 97 110 116 104]}}]]