{:adapter/aleph {:env #ig/ref :env/environment
                 :port 6379
                 :handlers {:connection #ig/ref :handler/handle-connection}
                 :config #ig/ref :redis/config} 
 :env/environment {:env #or [#env ENVIRONMENT "localhost"]}
 :handler/handle-connection {}
 :redis/config {:dir  "resources/test/rdb" 
                :dbfilename "redis.rdb"}}