{:server       {:redis_version            "0.0.0"
                :redis_git_sha1           ""
                :redis_git_dirty          "0"
                :redis_build_id           ""
                :redis_mode               "standalone"
                :os                       ""
                :arch_bits                64
                :multiplexing_api         ""
                :atomicvar_api            ""
                :gcc_version              ""
                :process_id               0
                :process_supervised       "no"
                :run_id                   ""
                :tcp_port                 6379
                :server_time_usec         0
                :uptime_in_seconds        0
                :uptime_in_days           0
                :hz                       10
                :configured_hz            10
                :lru_clock                0
                :executable               ""
                :config_file              ""
                :io_threads_active        0
                :shutdown_in_milliseconds 0}

 :clients      {:client_infos                    {}
                :connected_clients               0
                :cluster_connections             0
                :maxclients                      0
                :client_recent_max_input_buffer  0
                :client_recent_max_output_buffer 0
                :blocked_clients                 {}
                :tracking_clients                {}
                :pubsub_clients                  {}
                :watching_clients                {}
                :clients_in_timeout_table        {}
                :total_watched_keys              0
                :total_blocking_keys             0
                :total_blocking_keys_on_nokey    0}

 :memory       {:used_memory                   0
                :used_memory_human             "0B"
                :used_memory_rss               0
                :used_memory_rss_human         "0B"
                :used_memory_peak              0
                :used_memory_peak_human        "0B"
                :used_memory_peak_perc         "0%"
                :used_memory_overhead          0
                :used_memory_startup           0
                :used_memory_dataset           0
                :used_memory_dataset_perc      "0%"
                :total_system_memory           0
                :total_system_memory_human     "0B"
                :used_memory_lua               0
                :used_memory_vm_eval           0
                :used_memory_lua_human         "0B"
                :used_memory_scripts_eval      0
                :number_of_cached_scripts      0
                :number_of_functions           0
                :number_of_libraries           0
                :used_memory_vm_functions      0
                :used_memory_vm_total          0
                :used_memory_vm_total_human    "0B"
                :used_memory_functions         0
                :used_memory_scripts           0
                :used_memory_scripts_human     "0B"
                :maxmemory                     0
                :maxmemory_human               "0B"
                :maxmemory_policy              "noeviction"
                :mem_fragmentation_ratio       0.0
                :mem_fragmentation_bytes       0
                :allocator_frag_ratio          0.0
                :allocator_frag_bytes          0
                :allocator_rss_ratio           0.0
                :allocator_rss_bytes           0
                :rss_overhead_ratio            0.0
                :rss_overhead_bytes            0
                :allocator_allocated           0
                :allocator_active              0
                :allocator_resident            0
                :mem_not_counted_for_evict     0
                :mem_clients_slaves            0
                :mem_clients_normal            0
                :mem_aof_buffer                0
                :mem_replication_backlog       0
                :mem_total_replication_buffers 0
                :mem_allocator                 "jemalloc"
                :active_defrag_running         0
                :lazyfree_pending_objects      0
                :lazyfreed_objects             0}

 :persistence  {:loading                      0
                :async_loading                0
                :current_cow_peak             0
                :current_cow_size             0
                :current_cow_size_age         0
                :current_fork_perc            0
                :current_save_keys_processed  0
                :current_save_keys_total      0
                :rdb_changes_since_last_save  0
                :rdb_bgsave_in_progress       0
                :rdb_last_save_time           0
                :rdb_last_bgsave_status       "ok"
                :rdb_last_bgsave_time_sec     0
                :rdb_current_bgsave_time_sec  0
                :rdb_last_cow_size            0
                :rdb_last_load_keys_expired   0
                :rdb_last_load_keys_loaded    0
                :aof_enabled                  0
                :aof_rewrite_in_progress      0
                :aof_rewrite_scheduled        0
                :aof_last_rewrite_time_sec    0
                :aof_current_rewrite_time_sec 0
                :aof_last_bgrewrite_status    "ok"
                :aof_last_write_status        "ok"
                :aof_last_cow_size            0
                :module_fork_in_progress      0
                :module_fork_last_cow_size    0
                :aof_rewrites                 0
                :rdb_saves                    0
                :aof_current_size             0
                :aof_base_size                0
                :aof_pending_rewrite          0
                :aof_buffer_length            0
                :aof_pending_bio_fsync        0
                :aof_delayed_fsync            0}

 :stats        {:total_connections_received     0
                :total_commands_processed       0
                :instantaneous_ops_per_sec      0
                :total_net_input_bytes          0
                :total_net_output_bytes         0
                :total_net_repl_input_bytes     0
                :total_net_repl_output_bytes    0
                :instantaneous_input_kbps       0
                :instantaneous_output_kbps      0
                :instantaneous_input_repl_kbps  0
                :instantaneous_output_repl_kbps 0
                :rejected_connections           0
                :sync_full                      0
                :sync_partial_ok                0
                :sync_partial_err               0
                :expired_keys                   0
                :expired_stale_perc             0
                :expired_time_cap_reached_count 0
                :expire_cycle_cpu_milliseconds  0
                :evicted_keys                   0
                :evicted_clients                0
                :total_eviction_exceeded_time   0
                :current_eviction_exceeded_time 0
                :keyspace_hits                  0
                :keyspace_misses                0
                :pubsub_channels                0
                :pubsub_patterns                0
                :latest_fork_usec               0
                :total_forks                    0
                :migrate_cached_sockets         0
                :slave_expires_tracked_keys     0
                :active_defrag_hits             0
                :active_defrag_misses           0
                :active_defrag_key_hits         0
                :active_defrag_key_misses       0
                :tracking_total_keys            0
                :tracking_total_items           0
                :tracking_total_prefixes        0
                :unexpected_error_replies       0
                :total_error_replies            0
                :dump_payload_sanitizations     0
                :total_reads_processed          0
                :total_writes_processed         0}

 :replication  {:role                           "master"
                :master_failover_state          "no_failover"
                :master_replid                  ""
                :master_replid2                 ""
                :master_repl_offset             0
                :second_repl_offset             0
                :repl_backlog_active            0
                :repl_backlog_size              0
                :repl_backlog_first_byte_offset 0
                :repl_backlog_histlen           0
                :master_host                    ""
                :master_port                    0
                :master_link_status             "down"
                :master_last_io_seconds_ago     0
                :master_sync_in_progress        0
                :slave_read_repl_offset         0
                :slave_repl_offset              0
                :slave_priority                 0
                :slave_read_only                0
                :connected_slaves               0
                :min_slaves_good_slaves         0}

 :cpu          {:used_cpu_sys              0.0
                :used_cpu_user             0.0
                :used_cpu_sys_children     0.0
                :used_cpu_user_children    0.0
                :used_cpu_sys_main_thread  0.0
                :used_cpu_user_main_thread 0.0}

 :commandstats {}  ; Will be populated with command statistics
 
 :latencystats {} ; Will be populated with latency statistics
 
 :errorstats   {}   ; Will be populated with error statistics
 
 :cluster      {:cluster_enabled 0}

 :modules      {}      ; Will be populated with module information
 
 :keyspace     {}     ; Will be populated with database statistics
 
 :debug        {:eventloop_duration_aof_sum  0
                :eventloop_duration_cron_sum 0
                :eventloop_duration_max      0
                :eventloop_cmd_per_cycle_max 0
                :allocator_allocated_lua     0
                :allocator_active_lua        0
                :allocator_resident_lua      0
                :allocator_frag_bytes_lua    0}}